body {
  font-family: "Segoe UI", sans-serif;
  padding: 2rem;
  background: #f9f9fb;
}


h1, h2 {
  color: #333;
}
.post-card {
  background: white;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
a {
  color: royalblue;
  font-weight: bold;
}
